.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(carousel1.jpg);
}
  
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(carousel2.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(carousel3.jpg);
}
